extends inc/layout

block content
  h1= title
  p index Welcome to #{title}
//  each val in dirinfo.name
//    li= val
//  each isDir in dirinfo.isdir
//    li= isDir
//  - for (var i = 0; i < dirinfo.name.length; i++)
//  li #{dirinfo.name[0]}
//  span #{dirinfo.info[0].size}
//  span #{dirinfo.info[0].mtime}
